asgiref==3.3.1
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
Django==3.1.4
django-google-charts==0.1.1
django-ip-geolocation==1.6.0
django-ipware==3.0.2
django-qsstats-magic==1.1.0
geolocation-python==0.2.2
gunicorn==20.0.4
idna==2.10
ipinfo==3.0.0
ipinfo-django==1.1.0
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
